.play-btn-circle {
  position: relative;
  
}
.play-btn-circle:before {
  content: "\f061";
  color:var(--light-bg);
  display: grid;
  place-content: center;
  /* position: absolute; */
  background: var(--primary-color);
  width: 4rem;
  height: 4rem;
  padding: 2rem;
  border-radius: 2rem;
}
.play-btn-circle:hover::before {
  content: "\f061 \00a0 Start Quiz";
  width: max-content;
}
.rules-sec{
    gap:2rem;
}